.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 54px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 54px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 54px 0px rgba(0, 0, 0, 0.75);
  border: 0.6px #bdbdbd solid;
  font-family: "Arial";
  background-color: #f9f4eefa;
}

.modal-content .image-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.modal-content img {
  border-radius: 3px;
  max-height: 70vh;
  max-width: 80vw;
  margin-bottom: 10px;
}

.modal-content label {
  font-weight: bold;
  margin-right: 10px;
  width: 110px;
  text-align: right;
}

.item-row {
  display: flex;
  margin-bottom: 0.3em;
}
