/* #root {
  padding-bottom: 20px;
} */

.App {
  display: flex;
  flex-flow: column;
}

.App h1 {
  font-family: "Poiret One";
  color: #6f6965;
  padding: 5px 10px;
  align-self: center;
  font-size: 3em;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 700px) {
  .App h1 {
    font-size: 2em;
  }
}

@media (max-width: 500px) {
  .App h1 {
    font-size: 1.5em;
  }
}

.App input {
  padding: 5px 10px;
  font-size: larger;
  border-radius: 5px;
  margin: 0px 20px;
  outline: none;
  font-family: "Poiret One";
  border-color: burlywood;
  font-weight: 700;
}

.App svg {
  height: 200px;
}

.Search-Caption {
  opacity: 0.8;
  padding: 10px 0 0 25px;
  font-size: small;
  font-family: "Arial";
}
