/* #root {
  padding-bottom: 20px;
} */

.app {
  display: flex;
  flex-flow: column;
}

.loading {
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: #87adde;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  align-self: center;
  margin-top: 20vh;
}

@media screen and (prefers-reduced-motion: no-preference) {
  /* animate the spinner only if reduced-motion preference is not set */
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
