@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poiret+One&display=swap");

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poiret One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f0f0;
  min-height: 100%;
  position: relative;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
