html {
  height: 100%;
  width: 100vw; /* helps prevent shifting window width when disabling scroll*/
}

body {
  margin: 0;
  font-family: "Poiret One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  position: relative;
  background-color: #f9f4eeed;
  font-size: 16px;
  /* padding-bottom: 50px; */
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
}
